body {
  background-color: #1d1d1f;
}

a {
  text-decoration: none;
}

#navbar,
#bottom-bar {
  /* background-color: #38b6ff; */
  background-color: #08d9d6;
  color: #eaeaea;
  font-size: 3.2em;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.custom-file-upload,
#nav-item {
  margin: auto;
  background-color: #ff2e63;
  color: #eaeaea;
  width: fit-content;
  padding: 10px;
  border-radius: 32px;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: 0.25s;
  border: thick #eaeaea solid;
}

h1 {
  margin: auto;
  color: #eaeaea;
  width: fit-content;
  padding: 30px;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

.lower-title {
  color: #eaeaea;
  width: fit-content;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  transition: 0.25s;
}

#description {
  text-align: center;
  display: block;
  color: #eaeaea;
  width: 50%;
  margin: auto;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: normal;
  font-size: x-large;
}

#nav-item:hover {
  background-color: #1d1d1f;
  cursor: pointer;
  color: #ff2e63;
  border-color: #ff2e63;
  box-shadow: 30px;
}

#preview {
  max-width: 8em;
  margin-bottom: 30px;
}

iframe {
  margin: 30px;
}

#book-summary {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: 2em 0 2em 0;
}

#book-img-detail {
  width: 400px;
  height: 500px;
  margin-left: 30%;
  border: thick solid white;
  border-radius: 24px;
}

#book-summary > #detailed-description,
#book-details > #detailed-description {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

#book-summary > #detailed-description > h1 {
  grid-row: 1;
  width: 50%;
}

#book-summary > #detailed-description > p {
  grid-row: 2;
  width: 50%;
}

#book-summary > #detailed-description > a {
  grid-row: 3;
  color: #eaeaea;
  width: fit-content;
  padding: 20px;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 3em;
}

#book-details > #detailed-description > a:hover {
  color: #08d9d6;
}

#summary {
  text-align: left;
  color: #eaeaea;
  margin: auto;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: normal;
  font-size: x-large;
}
